*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* stuttura */
header{
  height: 10vh;
  background-color: #3061E0;
}

.jumbotron{
  height: 40vh;
  background-color: #3061E0;
  position: relative;
}

section{
  height: 50vh;
  position: relative;
  padding-top: ;
}

main section:nth-of-type(even){
  background-color: #F6F6F6;
}

main section:nth-last-child(2){
  height: 100vh;
}


main section:last-child{
  height: 35vh;
  background-color: #23272A;
}

footer{
  height: 15vh;
  background-color: #23272A;
  position: relative;
}
/* \struttura */


/* utility */
.container:not(.jumbotron .container){
  width: 80%;
  margin: 0 auto;
  background-color: green;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* \utility */

/* header */
header .container{
  height: 100%;
}

header .container *{
  float: left;
}

span{
  width: 20%;
}

.content li{
 float: left;
 margin: 0 10px;
}

header ul{
  list-style: none;
  width: 60%;
}
/* \header */


/* jumbotron */
.jumbotron{
  padding-top: 5vh;
}

.jumbotron .container{
  height: 30vh;
  width: 60%;
  margin: 0 auto;
  background-color: aqua;
}
/* \jumbotron */


/* main */
section:not(section:last-child){
  padding-top: 10vh;
}

section:last-child{
  padding-top: 5vh;
}

main .container:not(section:last-child .container, section:nth-last-child(2) .container){
  height: 30vh;
}

main section:last-child .container{
  height: 25vh;
}

section:nth-last-child(2) .container{
  height: 80vh;
}
/* \main */


/* footer */
footer .container{
height: 10vh;
}

/* \footer */
